.my-container {
    z-index: 100;
}

body {
    margin: auto;
}

.dan-mu {
    display: inline-block;
    visibility: hidden;
    position: fixed;
    height: 200px;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    color: yellow;
    opacity: 0.5;
    z-index: 100;
}

.dan-mu input {
    font-size: 15px;
    border-radius: 5px;
    border-color: #C6E746;
    background-color: #0f0f0f;
    color: black;
    position: relative;
    transform: translate(100px, 150px);
    outline: none;
}

.dan-mu input:focus {
    background-color: antiquewhite;
}

.dan-mu .font-color-select {
    font-size: 15px;
    color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 100px;
    background-color: #0f0f0f;
    position: relative;
    transform: translate(200px, 150px);
    outline: none;
}

.switch_button {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: solid 1px #ffffcc;
    line-height: 100px;
    text-align: center;
    float: right;
    position: relative;
    color: red;
    background-color: greenyellow;
    outline: none;
    right: 30px;
    z-index: 100;
}

.dan-mu #audio_frame {
    height: 35px;
    width: 800px;
    border: 0;
    display: inline-block;
    transform: translate(260px, 160px);
}

.dan-mu #controls {
    height: 80px;
    padding: 0;
}

@-webkit-keyframes my_move {
    from {left: 0}
    to {left: 100%}
}

/* Standard syntax */
@keyframes my_move {
    from {left: 0}
    to {left: 100%}
}
