#todoapp ul {
    list-style-type: none; /* Hides bullet points from todo list */
}
#todo-list input.edit {
    display: none; /* Hides input box*/
}
#todo-list .editing label {
    display: none; /* Hides label text when .editing*/
}
#todo-list .editing input.edit {
    display: inline; /* Shows input text box when .editing*/
}

.form-control {
    display: inline-block;
}
.add_button {
    margin: 10px 0px 10px 0px;
}
.checkbox {
    margin-top: 20px;
}
.completed_item {
    text-decoration: line-through;
}
h1 {
    display: inline-block;
    color: #292b33;
}
.text_holder {
display: block;
max-width: 100%;
word-wrap: break-word;
}
body {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #f6f6f6;
}
input {
    margin: 10px;
    float: none;
}
#todoapp {
    margin-top: 0;
    padding-left: 30px;
    padding-bottom: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #545454;
}
